.product-categories {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3vw;
    margin: 20px;
}

@media (max-width: 1025px) {
    .product-categories {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 810px) {
    .product-categories {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 610px) {
    .product-categories {
        grid-template-columns: repeat(2, 1fr);
    }
}

.product-categories li {
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: #fff;
    border-radius: 10px 20px;
    padding: 1vh 1vw;
    cursor: pointer;
    text-wrap: nowrap;
    text-align: center;
    transition: background-color 0.3s ease;
}

.product-categories li:hover {
    background-color: hsla(0, 0%, 100%, 0.8);
}