.button {
    border: 2px solid var(--blue-shade1);
    color: var(--text-color1);
    background-color: var(--blue-shade1);
    color: #fff;
    border-radius: 10px 20px;
    padding: 1vh 1vw;
    cursor: pointer;
    text-wrap: nowrap;
    text-align: center;
    transition: background-color 0.3s ease;
}

.button:hover {
    border: 2px solid hsl(216, 100%, 50%);
    background-color: hsla(0, 0%, 100%, 0.8);
    color: hsl(216, 100%, 60%);
}

@media (max-width: 600px) {
    .button {
        padding: 1vh 10px;
    }
}