.button {
    display: inline-block;
    margin: 4px 2px;
    padding: 10px 20px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    color: white;
    background: linear-gradient(135deg, hsl(226, 96%, 56%), hsl(216, 100%, 50%));
    transition: all 0.3s ease;
    cursor: pointer;
}

.button:hover {
    background: linear-gradient(135deg, hsl(216, 100%, 50%), hsl(226, 96%, 56%));

}