.profile-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 50px auto;
    width: 85%;
    border-radius: 10px;
    gap: 20px;
    padding: 20px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--text-color1);
}

.profile-container p {
    margin-bottom: 5px;
    color: var(--text-color1);
}

.button-container {
    margin-top: 5px;
    display: flex;
    width: auto;
    gap: 10px;
}

@media (max-width: 470px) {
    .button-container {
        flex-direction: column;
    }
}

/* .button-container button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: var(--blue-shade1);
    border: 2px solid var(--blue-shade1);
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
} */

/* .profile-container button:hover {
    background: #0056b3;
    color: hsl(216, 100%, 70%);
} */

.admin-dashboard {
    margin-top: 30px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
}

.admin-dashboard h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.admin-dashboard a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.admin-dashboard a:hover {
    background: #218838;
}