.account-container {
    width: 75%;
    max-width: 800px;
    margin: 200px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.account-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--text-color1);
}

.account-container form {
    display: flex;
    flex-direction: column;
}

.account-container label {
    font-size: 1em;
    margin-bottom: 5px;
    color: #666;
}

.account-container input {
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    border: 2px solid var(--blue-shade1);
    color: var(--text-color1);
    background-color: var(--blue-shade1);
    color: #fff;
    border-radius: 10px 20px;
    padding: 1vh 1vw;
    cursor: pointer;
    text-wrap: nowrap;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    border: 2px solid hsl(216, 100%, 50%);
    background-color: hsla(0, 0%, 100%, 0.8);
    color: hsl(216, 100%, 60%);
}

@media (max-width: 600px) {
    .submit-button {
        padding: 1vh 10px;
    }
}

.non-submit-button-container {
    padding-top: 15px;
    display: flex;
    gap: 10px;
}