.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 115px;
  padding: 20px 25px;
  color: hsl(207, 31%, 11%, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
  padding: 0.25rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
}

.search-container input {
  border: none;
  outline: none;
  padding: 0.25rem;
  font-size: 1rem;
  color: #333;
}

.search-container img {
  cursor: pointer;
}

.logo-container {
  min-width: 90.313px;
  max-width: 90.313px;
  cursor: pointer;
}

.logo-container a {
  width: 100%;
  height: 100%;
}

.logo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name-container {
  display: flex;
  width: auto;
  align-items: center;
  margin-right: auto;
  font-weight: 700;
  color: hsl(0, 0%, 23%);
}

.main-menu-tabs-container {
  position: relative;
  margin-left: auto;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.5vw;
  font-weight: 500;
}

.tab {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style: none;
}

.main-menu-dropdown-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-menu-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  border-radius: 3px;
  background-color: hsl(207, 90%, 54%);
  transition: all 0.3s;
  z-index: 999;
}

.account-menu-dropdown-container {
  position: relative;
}

.account-menu-dropdown {
  display: none;
  position: absolute;
  top: calc(100% + 48px);
  right: -25px;
  border-radius: 3px;
  background-color: hsl(207, 90%, 54%);
  transition: all 0.3s;
  z-index: 999;
}

.account-menu-dropdown.show {
  display: block;
}

.account-menu-dropdown li {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid hsl(207, 90%, 54%);
}

.account-menu-dropdown li:hover {
  background-color: white;
}

.tab.dropdownTab {
  color: #fff;
}

.account-menu-dropdown li:hover .tab.dropdownTab {
  color: hsl(207, 90%, 40%);
}

@media (max-width: 1100px) {
  .main-menu-tabs-container {
    display: none
  }

  .main-menu-dropdown-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }

  .main-menu-dropdown-icon-bar {
    margin: 3px 0;
    width: 20px;
    height: 2px;
    background-color: hsl(0, 0%, 23%);
    border-radius: 18px;
  }

  .main-menu-dropdown.show {
    display: block;
  }

  .main-menu-dropdown li {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid hsl(207, 90%, 54%);
  }

  .main-menu-dropdown li:hover {
    background-color: white;
  }

  .main-menu-dropdown li:hover .tab.dropdownTab {
    color: hsl(207, 90%, 40%);
  }
}

@media (max-width: 478px) {
  .name-container {
    display: none;
  }

  .search-container {
    padding: 0.25rem 0.5rem;
  }

  .search-container input {
    padding: 0.25rem;
    width: 35vw;
  }
}