.product-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 50px;
    gap: 40px;
}

.product-details {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    gap: 5px;
    padding: 10px 20px;
    width: auto;
    max-width: 400px;
    background-color: hsla(0, 0%, 100%, 0.477);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-details img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.product-details p {
    line-height: 1.5em;
    font-size: 14px;
}

.product-title {
    font-weight: 700;
}

.product-availability {
    font-weight: bold;
}

.product-availability.in-stock {
    color: hsl(120, 100%, 35%);
}

.product-availability.out-of-stock {
    color: red;
}

.product-rating {
    font-weight: 700;
}

.product-rating-good {
    color: hsl(120, 100%, 35%);
}

.product-rating-okay {
    color: hsl(0, 0%, 30%);
}

.product-reviews-container.open {
    border-radius: 10px;
    padding: 5px 8px;
    background-color: hsla(0, 0%, 100%, 0.8);
}

.product-reviews-title {
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}

.show-product-reviews:hover {
    color: hsl(0, 0%, 40%);
}

.product-review-rating-title {
    font-weight: 600;
}

.product-review-rating {
    font-weight: bold;
    color: hsl(51, 100%, 45%);
}

.product-review-comment {
    color: rgb(0, 0, 0, 0.7);
    font-style: italic;
}

.product-original-price {
    color: red;
    text-decoration: line-through;
}

.product-current-price {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.8em;
}