*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color1: hsl(207, 31%, 11%, 0.8);
  --blue-shade1: hsl(216, 100%, 55%);
  --blue-modal: hsla(216, 100%, 55%, 0.8);
}

body {
  background: hsla(216, 10%, 85%, 0.1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  font-family: "Roboto", sans-serif;
}